.blink {
    animation: blink 5s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
.video {
  border-radius: 12px;
  border: 1px solid #282828;
}