.card {
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  height: 100%;
  top: 0;
  left: -120%;
  transform: skew(45deg);
  position: absolute;
  transition: none;
}

.card:hover::before {
  left: 200%;
  transition: left 0.5s ease-in-out;
}
